<% include ../partials/header.ejs%>

<link rel="stylesheet" href="/activate.css">

<div class="container text-center mt-5" >
  <div class="card lead">
    <h1>Almost there.....</h1>
<h4>Please check your email (<%=email%>)</h4>
<h4>to confirm your account. </h4>
<div class="container">
  <hr >
</div>


<h4>If you haven't received our email in 15 minutes,</h4>
<h4>please check your spam folder. </h4>

<h4>Still can't find it? Try searching Gmail for </h4>
<h4>"in:all subject:(Confirm your account on AceAtKart)"</h4>
  </div>
 
     
  </div>
 



<% include ../partials/footer.ejs%>