<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>AceAtKart Register</title>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/form/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/form/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/form/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/form/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/form/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/form/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/form/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/form/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/form/css/util.css">
	<link rel="stylesheet" type="text/css" href="/form/css/main.css">
<!--===============================================================================================-->

</head>
<body>
  <div class="container">
        
        <%if(error && error.length > 0){%>
            <div class="alert alert-danger" role="alert">
                <%=error%>
            </div>
        <%}%>
        
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    


	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				  <form class="login100-form validate-form p-l-55 p-r-55 p-t-178" action="/activateAccount" method="POST">
				
					<span class="login100-form-title">
						Register To AceAtKart
					</span>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter full name">
						 <input type="text" class="input100" id="name" placeholder="Enter full name" name="name" autofocus required>
						
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
						 <input type="text" class="input100" id="username" placeholder="Enter Username" name="username" required>
						
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter phone no">
						  <input type="text" class="input100" id="name" placeholder="Phone no." name="phone" required>
						
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter email">
						 <input type="email" class="input100" id="email" placeholder="Enter email" name="email" required>
						
						<span class="focus-input100"></span>
					</div>

					
					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter city">
						<input type="text" class="input100" id="city" placeholder="Enter city" name="city" required>
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter country">
						   <input type="text" class="input100" id="country" placeholder="Enter country" name="country" required>
						
						<span class="focus-input100"></span>
					</div>
					


					 <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter address">
						 <input type="text" class="input100" id="address" placeholder="Enter address" name="address" required>
						
						<span class="focus-input100"></span>
					</div>
					


					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							CREATE MY ACCOUNT
						</button>
					</div>

					<div class="flex-col-c p-t-170 p-b-40">
						<span class="txt1 p-b-9">
							Already have an account?
						</span>

						<a href="/login" class="txt3">
							Sign in now
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	
<!--===============================================================================================-->
	<script src="/form/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/form/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/form/vendor/bootstrap/js/popper.js"></script>
	<script src="/form/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/form/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/form/vendor/daterangepicker/moment.min.js"></script>
	<script src="/form/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/form/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/form/js/main.js"></script>



















